body {
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #BEA593;
}

h2{
    color: #643923;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #643923;
    }
    
    .nav {
    list-style: none; 
    display: flex;
    gap: 15px;  
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
        height: 100%;
        width: 100%;

    }
    .grid-container img {
height: 80px;
    }

    .grid-container h3 {
        font-size: 20px;
    }

    .grid-container > div {
        background-color: White;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }



.footer-container {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    justify-content: center;
    background-color:#643923;
    }


    @media (min-width: 800px){
    }

    @media (max-width: 799px) {
        }