body {

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    background-color: #BEA593;
    }



    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    
    .grid-container > div {
        background-color: White;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }










.footer-container {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    background-color:#BEA593;
    }